body {
    font-family: Roboto, sans-serif;
    margin: 0
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(161, 105, 81);
    color: white
}

.hero {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.headerlogo {
    font-size: 24px;
    align-self: flex-start
}

.links {
    align-self: flex-end;
    list-style-type: none;
    align-self: center;
    font-size: 18px
}

ul li {
    display: inline;
    padding: 5px;
}

.headerinfo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin: 60px;
}

.headerinfo2 {
    flex-basis: 40%;
    height: 220px;
    flex-wrap: wrap;
}

.title {
    font-size: 48px;
    margin-bottom: 0
}

.titletext {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-right: 20px
}

.learnmore {
    border: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 6px;
    background-color: rgb(255, 146, 87);
    color: white
}

.header-image {
    flex-basis: 40%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.bodybox {
    background-color: rgb(255, 253, 253)
}

.infotext {
    text-align: center;
    padding: 30px
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 120px
}

.body-image {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden
}

.text {
    max-width: 200px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px
}

.quotebox {
    display: flex;
    width: 1000px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.quote {
    background-color: rgb(247, 229, 226);
    color: rgb(25, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px
}

.quotetext {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex
}

.person {
    align-self: flex-end;
    line-height: 0px;
}

.action {
    background-color: rgb(255, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}

.actioncontainer {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    background-color: rgb(255, 146, 87);
    color: white;
    margin-top: 80px;
    margin-bottom: 80px
}

.actionbox {
    width:600px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 0;
    align-items: flex-start;
    justify-content: center;
}

.donatebox {
    width: 120px;
    display: flex;
    height: 150px
}

.donate {
    border:2px solid rgb(255, 255, 255);
    background-color: rgb(255, 146, 87);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 6px;
    align-self: center
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(161, 105, 81);
    color: white
}

img {
    max-width: 100%;
    max-height: 100%
}

.wolf1, .wolf2, .wolf3, .wolf4 {
    width: 100%;
    height: 100%;
    object-fit: cover
}